@import "bootstrap/dist/css/bootstrap.css";

.col-sm-7 {
	flex: 0 0 auto;
	width: 52.333333%;
}

.ms-6 {
	margin-left: 5rem;
}

.large-icon {
	font-size: 25px;
}

.top-menu-item {
	transition: color 0.1s;
}

.top-menu-item:hover {
	color: #00aeef;
}

#root {
	background-color: #fcfbf9;
}

.img-container {
	position: relative;
	overflow: hidden;
	cursor: pointer;
  }
  
  .img-container img {
	transition: transform 0.4s ease;
  }
  
  .img-container:hover img {
	transform: scale(1.05);
  }

.slick-slide {
	cursor: pointer;
}
.slick-slide:hover {
	transform: scale(1.08);
	width: 100%;
}

/* .slider {
	height: 635px;
	position: relative;
	overflow: hidden;
}

.slide {
	width: 100%;
	display: flex;
	flex-direction: row;
	animation: slideAnimation 12s linear infinite;
}

.slide img {
	height: auto;
	background-size: cover;
} */
