@import "bootstrap/dist/css/bootstrap.css";

.col-sm-7 {
	flex: 0 0 auto;
	width: 52.333333%;
}

.ms-6 {
	margin-left: 5rem;
}

.large-icon {
	font-size: 25px;
}

.top-menu-item {
	transition: color 0.1s;
}

.top-menu-item:hover {
	color: #00aeef;
}

#root {
	background-color: #fcfbf9;
}

.img-container {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.img-item {
	width: 336px;
	height: 491px;
}

.img-container img {
	transition: transform 0.4s ease;
}

.img-container:hover img {
	transform: scale(1.05);
}

.btn-container {
	transition: transform 0.4s ease;
}

.btn-container:hover {
	transform: scale(1.05);
}

.slick-slide {
	cursor: pointer;
}
.slick-slide:hover {
	transform: scale(1.08);
	width: 100%;
}

.p-homeCollectionFirst_info {
	left: -20%;
	max-width: 50%;
	position: absolute;
	top: 11%;
	z-index: 1;
}

.p-homeCollectionFirst:hover {
	color: #00aeef;
}

.p-homeCollectionFirst {
	cursor: pointer;
}

.t-header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 102;
}

/* .slider {
	height: 635px;
	position: relative;
	overflow: hidden;
}

.slide {
	width: 100%;
	display: flex;
	flex-direction: row;
	animation: slideAnimation 12s linear infinite;
}

.slide img {
	height: auto;
	background-size: cover;
} */

.homeCollectionFirst_info {
	font-size: 60px;
}

.ic-arrow {
	margin-left: -120px;
	height: 52px;
}

.buttonIcon_text {
	margin-left: -123px;
	width: 232px;
}

@media (max-width: 1450px) {
	.col {
		font-size: 15px;
	}
	.large-icon {
		font-size: 25px;
	}

	.img-item {
		width: 320px;
		height: 480px;
	}
	.homeCollectionFirst_info {
		font-size: 50px;
	}

	.ic-arrow {
		margin-left: -120px;
		height: 52px;
	}

	.buttonIcon_text {
		margin-left: -123px;
		width: 232px;
	}
}

@media (max-width: 1400px) {
	.homeCollectionFirst_info {
		font-size: 50px;
	}

	.ic-arrow {
		margin-left: -110px;
	}

	.buttonIcon_text {
		position: relative;
		left: 27px;
		width: 232px;
	}
}

@media (max-width: 1382px) {
	.col {
		font-size: 13px;
	}

	.large-icon {
		font-size: 20px;
	}

	.img-item {
		width: 310px;
		height: 470px;
	}

	.homeCollectionFirst_info {
		font-size: 40px;
	}

	.ic-arrow {
		margin-left: -100px;
	}
}

@media (max-width: 1325px) {
	.img-item {
		width: 290px;
		height: 450px;
	}

	.homeCollectionFirst_info {
		font-size: 35px;
	}

	.ic-arrow {
		margin-left: -100px;
	}
}

@media (max-width: 1280px) {
	.col {
		font-size: 11px;
	}

	.large-icon {
		font-size: 18px;
	}

	.img-item {
		width: 200px;
		height: 400px;
	}

	.homeCollectionFirst_info {
		font-size: 40px;
	}
	.ic-arrow {
		margin-left: -100px;
		height: 48px;
	}
}

@media (max-width: 1245px) {
	.img-item {
		width: 395px;
		height: 550px;
	}

	.homeCollectionFirst_info {
		font-size: 35px;
	}
}
